<tr>
  <td class="px-6 py-4 whitespace-nowrap text-center">
    <%= proveedor.nombre %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-center">
    <%= proveedor.nit %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-center">
    <%= proveedor.contacto %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-center">
    <%= proveedor.celular %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-center">
    <%= proveedor.banco.nombre %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-center">
    <%= proveedor.numero_cuenta %>
  </td>

