<div id="<%= dom_id proveedor %>">
  <p>
    <strong>Nombre:</strong>
    <%= proveedor.nombre %>
  </p>

  <p>
    <strong>Nit:</strong>
    <%= proveedor.nit %>
  </p>

  <p>
    <strong>Contacto:</strong>
    <%= proveedor.contacto %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= proveedor.celular %>
  </p>

  <p>
    <strong>Banco:</strong>
    <%= proveedor.banco_id %>
  </p>

  <p>
    <strong>Numero cuenta:</strong>
    <%= proveedor.numero_cuenta %>
  </p>

</div>
